.time_container {
    align-items: center;
}

body {}

#main_container {
    margin-top: 5rem;
}

#timer_container {
    margin-top: 5rem;
    justify-content: center;
}

#Pomo_title {
    justify-content: center;
}

#minute_counter {
    justify-content: end;
}