.control_Selector {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 0rem;
}

.select_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.time {
    text-align: center;
    align-items: center;
    font-size: 8rem;
    letter-spacing: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0.1rem -0.1rem 0.15rem black;
}

.controls {
    margin-top: 18rem;
}

.title_info {
    text-align: center;
    align-items: center;
    margin-top: 3rem;
}

.start {
    margin-top: 5rem;
}

body {
    color: White;
    background-image: url("./images/Deep-Space.png");
    background-repeat: repeat;
}

#inner_container {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

#main_container {
    margin-top: 5rem;
}